call plug#begin()

let mapleader=" "

Plug 'tpope/vim-surround'
Plug 'kana/vim-textobj-user' | Plug 'whatyouhide/vim-textobj-xmlattr'

set clipboard+=unnamed
set showmode
set ideajoin

vmap < <gv
vmap > >gv

nmap <Leader>r <action>(RenameElement)

nmap gcc <action>(CommentByLineComment)k
vmap gc <action>(CommentByLineComment)

nmap <Tab> <action>(NextTab)
nmap <S-Tab> <action>(PreviousTab)

imap <A-j> <Esc>:move .+1<CR>==gi
imap <A-k> <Esc>:move .-2<CR>==gi
nmap <A-j> :move .+1<CR>==
nmap <A-k> :move .-2<CR>==
vmap <A-j> :move '>+1<CR>gv=gv
vmap <A-k> :move '<-2<CR>gv=gv
